.sidebar {
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f4f9;
    padding: 25px 15px;
    width: 60px; /* Default width when not extended */
    transition: width 0.3s ease;
}

.sidebar.extended {
    width: 200px; /* Width when extended */
}

.sidebar img {
    width: 20px;
}

.sidebar .menu {
    display: block;
    margin-left: 10px;
    cursor: pointer;
}

.sidebar .new-chat {
    margin-top: 50px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color: #e6eaf1;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .recent {
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    animation: fadeIn 1.5s;
}

.sidebar .recent-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry {
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .recent-entry:hover {
    background-color: #e2e6eb;
}

.sidebar .bottom {
    display: flex;
    flex-direction: column;
}

.sidebar .bottom-item {
    padding-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
}

.new-chat p, .bottom-item p {
    opacity: 0;
    margin-left: 10px;
    transition: opacity 0.3s ease, margin-left 0.3s ease;
}

.sidebar.extended .new-chat p,
.sidebar.extended .bottom-item p {
    opacity: 1;
    margin-left: 10px;
}

.new-chat .img{
    width: 10px;
}

@media (max-width:600px) {
    .sidebar{
        display: none;
    }
}